doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='https://img.lookmytrips.com/images/look829v/58b6f3f7ff936748df0576b2-1cbdsvn-fdavatar.jpg', type='image/png')
    link(rel='stylesheet', href='/stylesheets/main.css')

    
    script(type='text/javascript', src='/javascripts/main.js')

  body
    block content
